<!-- views/partials/footer.ejs -->
<%- include('head') %>
<body>
    <footer>
        <ul>
      <a href="/login">Uitloggen</a>
      <a href="/edit/<%= profile._id%>">Bewerken</a>
      <a href="/mail">Contact</a>
    </ul>
    </footer>
</body>
