<!-- views/partials/header.ejs -->
<body>
        <nav>
            <ul>
                <li><a href="/home">home</a></li>
                <li><a href="/profile">profile</a></li>
                <li><a href="/chat">chats</a></li>
            </ul>
        </nav>
</body>
