<!-- views/partials/header.ejs -->
<body>
        <nav>
            <ul>
                <li><a href="/filter">Matchen</a></li>
                <li><a href="/profile/:profileId">Profiel</a></li>
                <li><a href="/chat">Chats</a></li>
            </ul>
        </nav>
</body>
