<!-- views/partials/header.ejs -->
<body>
        <nav>
            <ul>
                <li><a href="/filter">matchen</a></li>
                <li><a href="/profile/:profileId">profiel</a></li>
                <li><a href="/chat">chats</a></li>
            </ul>
        </nav>
</body>
