<%- include('partials/head') %>

<body>
  <main class="createProfile">
    <section>
      <h1>Maak je profiel compleet</h1>
      <h3>Vul deze gegevens in en start met liken</h3>
    </header>
    <main class="createProfile">
      <form
        action="/profile/create"
        method="POST"
        enctype="multipart/form-data"
      >
        <div>
          <label for="name"> Naam </label>
          <input type="text" id="name" name="name" required />
        </div>
        <label for="selectSport">Welke sporten vind je leuk?</label>
        <select name="sport" id="selectSport">
          <option value="Voetbal">Voetbal</option>
          <option value="Basketbal">Basketbal</option>
          <option value="Hockey">Hockey</option>
          <option value="Tennis">Tennis</option>
          <option value="Formule1">Formule1</option>
        </select>
        <div class="bio">
          <label for="bio">Vertel iets over jezelf</label>
          <textarea name="bio" id="bio"></textarea>
        </div>
        <div class="upload">
          <label for="upload">Upload je foto</label>
          <input type="file" name="upload" id="upload" placeholder="Kies bestand"
            accept="image/png, image/jpeg, image/gif" />
        </div>
        <button>Opslaan</button>
      </form>
    </section>
  </main>
</body>