/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove all default styles */
a {
  text-decoration: none;
}

/* SOURCE FONTS https://freefontsfamily.com/futura-font-family-free/ */
@font-face {
  font-family: "futuralight";
  src: url("../fonts/futura_light_bt-webfont.woff2") format("woff2"), url("../fonts/futura_light_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura Condensed";
  src: url("../fonts/FuturaCondensedPlain.woff2") format("woff2"), url("FuturaCondensedPlain.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura Light";
  src: url("//db.onlinewebfonts.com/t/2167e76f00e569cc11b3665679996380.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2167e76f00e569cc11b3665679996380.woff") format("woff");
}
/* Body */
/* Buttons */
/* Body */
body {
  background: linear-gradient(0deg, #343737 0%, #0a0a09 100%);
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  /* Setions */
}
body h1, body h2 {
  font-family: Futura Light;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  margin: 0em 2em;
  line-height: 1.5em;
}
body h3 {
  font-family: Futura Light;
  text-align: center;
  margin-bottom: 3em;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}
body p {
  font-family: Futura Light;
  font-size: 1em;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 2em;
  margin-top: 2em;
}
body p a {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 0.3em;
}
body section {
  margin-top: 2em;
}

/* Forms */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
form ul {
  padding: 0;
}
form li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5em;
}
form label {
  font-family: Futura Light;
  font-size: 1em;
  padding-bottom: 0.5em;
  letter-spacing: 0.2em;
}
form input {
  border-style: none;
  background-color: white;
  padding: 1em;
  text-align: center;
  margin: 0.2em;
  border-radius: 0.2em;
  color: grey;
  letter-spacing: 0.2em;
  padding: 1em;
}
form input:not([type=radio]):not([type=checkbox]) {
  width: 70vw;
}
form input[type=radio],
form input[type=checkbox] {
  margin: 0em 1em;
}
form select {
  background-color: rgba(255, 255, 255, 0.2);
  border-style: none;
  color: white;
  font-family: Futura;
  letter-spacing: 0.2em;
  padding: 1em;
  margin-top: 1em;
  width: 21em;
  border-radius: 0.2em;
}

/* Buttons */
button:enabled {
  background-color: #000000;
  color: #ffffff;
  border-style: none;
  width: 50vw;
  padding: 1.5em 1em;
  font-family: Futura;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  border-radius: 0.2em;
  text-transform: uppercase;
}
button:enabled:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
}
button:enabled:active {
  background-color: linear-gradient 0deg, #cb2f4f 0%, #c32a4b 100%;
}
button:enabled:focus {
  background-color: #000000;
  box-shadow: inset 0 0 1px #ffffff00;
}
button:enabled:disabled {
  background-color: #000000;
}

/* createProfile.ejs */
.createProfile form {
  margin: 1.5em;
  margin-top: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.createProfile form div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.createProfile form div:nth-of-type(3) {
  position: absolute;
  top: 30vw;
  margin: auto;
  margin-bottom: 2em;
  background-repeat: no-repeat;
  width: 40%;
  height: 40vw;
  border-radius: 100%;
  box-shadow: rgba(255, 255, 255, 0.3) 0.1rem 0px 0.5rem 0.2rem;
}
.createProfile form div:nth-of-type(3) label {
  padding-bottom: 4em;
  padding-top: 3em;
  text-align: center;
  line-height: 1.5em;
  margin: 0em 1em;
}
.createProfile form input[type=file] {
  display: none;
}
.createProfile form textarea {
  width: 70vw;
  height: 7em;
  padding: 0.8em;
}
.createProfile form button {
  margin-top: 2em;
}

/* profile.ejs */
section.profile {
  margin-top: 3em;
}
section.profile h1 {
  border-top: 0.1em solid white;
  padding-top: 1em;
  margin: 0;
  padding-bottom: 0.5em;
}
section.profile ul {
  margin-top: 10em;
}
section.profile ul p:first-child {
  display: none;
}
section.profile ul p {
  margin-top: unset;
  margin: 0em 1.5em;
}
section.profile ul p:nth-child(2) {
  text-transform: uppercase;
  font-family: Futura;
  padding-top: 3em;
}
section.profile ul p:nth-child(5) {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1em;
  margin-top: 1em;
  border-radius: 0.2em;
}

img[alt=profilepic] {
  position: absolute;
  top: 30vw;
  margin: 0 auto;
  margin-bottom: 2em;
  width: 40%;
  height: 40vw;
  border-radius: 100%;
  left: 0;
  right: 0;
}

/* editProfile.ejs */
form.editprofile {
  margin: 1.5em;
}
form.editprofile label {
  padding-top: 0.8em;
}
form.editprofile input {
  margin: 0.8em;
}
form.editprofile div {
  text-align: center;
}
form.editprofile div input:not[type=radio] {
  padding: 1em;
}
form.editprofile div:first-of-type {
  margin-top: 55vw;
}
form.editprofile div:last-of-type {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20%;
  right: 20%;
}
form.editprofile div:last-of-type img[alt="je profielfoto"] {
  align-self: center;
  border-radius: 100%;
  width: 60%;
  height: 60%;
}
form.editprofile div:last-of-type input[id=upload] {
  display: none;
}
form.editprofile textarea {
  width: 70vw;
  height: 7em;
  padding: 0.8em;
  margin: 0.8em;
}

/* filterSports.ejs */
.sportsList {
  padding: 1em;
}
.sportsList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sportsList li {
  justify-content: flex-start;
}

.filterSports {
  margin: 1.5em;
}

ul.match {
  display: flex;
  flex-wrap: wrap;
}

/* partials/nav.ejs */
nav {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  font-family: Futura Light;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}
nav ul li {
  padding: 1em;
  color: white;
  letter-spacing: 0.2em;
}

nav a {
  background-color: #000000;
  color: #ffffff;
}
nav a:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
}
nav a:active {
  background-color: linear-gradient 0deg, #cb2f4f 0%, #c32a4b 100%;
}
nav a:focus {
  background-color: #000000;
  box-shadow: inset 0 0 1px #ffffff00;
}
nav a:disabled {
  background-color: #000000;
}

footer {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 0em;
  background-color: transparent;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
footer a {
  color: white;
  font-family: Futura Light;
  letter-spacing: 0.1em;
  padding: 0 1em;
}

/* chat.ejs */
form[id=send-container] {
  flex-wrap: unset;
  margin-top: 2em;
  position: fixed;
  bottom: 0;
}

input[id=msg] {
  margin: 0;
  border-radius: unset;
}

.message {
  border-style: 1px solid white;
  background-color: white;
  font-size: 1em;
  color: black;
  width: 18em;
  border-radius: 0.2em;
  margin: 0 auto;
}

p[id=user] {
  font-family: Futura;
  text-transform: uppercase;
}

p[id=room] {
  margin: 0;
}

button[id=leave-btn] {
  background-color: transparent;
  padding: 1.5em 0em;
  margin: 0;
}

button[id=send-btn] {
  width: unset;
  border-radius: unset;
}

/* sendMail.ejs */
.sendMail form {
  margin: 1.5em;
}

.sendMail section {
  margin: 1.5em;
}
.sendMail section input {
  margin-bottom: 2em;
}

.sendMail h3 {
  padding-top: 2em;
}

/*# sourceMappingURL=main.css.map */
