/* Error: expected "{".
 *    ,
 * 13 | $radius-border: .2em; 
 *    |                     ^
 *    '
 *   static/stylesheets/scss/_colors.scss 13:21  @import
 *   static/stylesheets/scss/main.scss 5:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 13 \2502  $radius-border: .2em; \a    \2502                      ^\a    \2575 \a   static/stylesheets/scss/_colors.scss 13:21  @import\a   static/stylesheets/scss/main.scss 5:9       root stylesheet';
}
