
/* Body */
$body-color: linear-gradient(0deg, #343737 0%, 
#0a0a09 100%); 

$text-color: #ffffff;


/* Buttons */

$button-default: #000000;

$radius-border: .2em; 

$enabled-color:#000000;

$hover-color: #000000;
$hover-border: 1px solid  #ffffff;

$active-color: linear-gradient (0deg, #cb2f4f 0%, 
#c32a4b 100%); 

$focus-color:#000000;
$focus-shadow: inset 0 0 1px 
#ffffff00;

$disabled-color: #000000;
















