/* SOURCE FONTS https://freefontsfamily.com/futura-font-family-free/ */

@font-face {
    font-family: 'futuralight';
    src: url('../fonts/futura_light_bt-webfont.woff2') format('woff2'), url('../fonts/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Condensed';
    src: url('../fonts/FuturaCondensedPlain.woff2') format('woff2'), url('FuturaCondensedPlain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

